table thead th {
    border: 1px solid black;
}
table tbody td {
    border: 1px solid black;
}
.result-table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

.search-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #3598dc;
}

.search-table tr {
    background-color: #F7F7F7;
    height: 15px;
    line-height: 20px;
}

.search-table td {
    padding: 4px;
    height: 15px;
    line-height: 20px;
    border-top: 1px solid #FFFFFF;
}

.search-table tfoot td {
    background: #f7f7f7;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}